<h2>Stores within 25 miles</h2>
<div class="stores">
  <% @stores.each do |store|%>
    <p>store.long_name</p>
    <p>store.city</p>
    <p>store.distance</p>
    <p>store.phone_number</p>
    <p>store.store_type</p>
</div>
